Computer Science/CS2xxx/CS2509 - XML and the Extended Enterprise/Lab work/A/customers.dtd

<!ELEMENT customers (customer+)>
<!ELEMENT customer (customerID, name, address, phoneNumber)>
<!ELEMENT customerID (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (addressLine1, addressLine2, addressLine3)>
<!ELEMENT addressLine1 (#PCDATA)>
<!ELEMENT addressLine2 (#PCDATA)>
<!ELEMENT addressLine3 (#PCDATA)>
<!ELEMENT phoneNumber (#PCDATA)>